{
  "presets": [
    [
      "es2015",
      {
        "modules": false,
        "targets": {
          "chrome": 52,
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ],
          "node":"6.10"
        }
      }
    ],
    "stage-2"
  ]
}